body
{
    font-size: 18px;
    line-height: 1.4;
    background-color: #FFFFFF;
    margin: 20px;
}

header, section, footer
{
    max-width: 650px;
    margin: auto;
}

.italic
{
    font-style: italic;
}
